<div class="container">
  <mat-card>
    <mat-card-title>
      VERIFY LR
    </mat-card-title>
  
    <mat-card-content>  
      <form
      [formGroup]="lrVerifyForm"
      (ngSubmit)="verifyLr(lrVerifyForm)"
      >
  
      <!-- we will place our fields here -->
  
        <div>
          <mat-form-field class="full-width">
            <input 
              matInput
              formControlName="lr_no"
              id="lr_no" 
              name="lr_no"
              type="number"      
              placeholder="LR No">
          </mat-form-field>
        </div>
  
        <!-- Verification No -->
        <div>
          <mat-form-field class="full-width">
            <input
              matInput
              formControlName="verification_no"
              id="verification_no" 
              name="verification_no"
              placeholder="Verification No">
          </mat-form-field>
        </div>
  
        <!-- Adding the submit button -->
        <div>
          <!-- Clear the Form -->          
          <button 
            mat-raised-button
            type="button"
            style='margin-right:16px'
            (click)="clearForm()">
            CLEAR
          </button>
          <button 
            mat-raised-button color="primary"
            type="submit" 
            [disabled]="!lrVerifyForm.valid"
            ngbAutofocus>
            SUBMIT
          </button>
        </div>

        <div *ngIf="unknownError" class="error">
          Some Unknown Error Occured. Please contact 22-25891620 to verify the authenticity of LR.
        </div>        

        <div *ngIf="err" class="error">
          Sorry, the LR No and Verification No combination provided is incorrect. You may contact 022-25891620 to ensure further.
        </div>
      
      </form>
      <!-- <pre>
        {{ lrVerifyForm.value | json }}
      </pre> -->
  
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isVerified">
    <mat-card-title>
      LR IS VERIFIED. HERE ARE THE DETAILS:
    </mat-card-title>
    <mat-card-content class="lr-details-container">
      <div></div>
      <div class="lr-details">
        <div>LR No:</div>
        <div>{{ lr.lr_no_id }}</div>
        <div>LR Date:</div>
        <div>{{ lr.date | date:'LLL dd, yyyy' }}</div>
        <div>From:</div>
        <div>{{ lr.dispatch_from }}</div>
        <div>To:</div>
        <div>{{ lr.ship_to }}</div>
        <div>Vehicle No:</div>
        <div>{{ lr.vehicle_no }}</div>
        <div *ngIf="lr.ewaybill_no">Ewaybill No:</div>
        <div *ngIf="lr.ewaybill_no">{{ lr.ewaybill_no }}</div>
        <div *ngIf="lr.invoice_no">Invoice No:</div>
        <div *ngIf="lr.invoice_no">{{ lr.invoice_no }}</div>
        <div *ngIf="lr.dc_no">Delivery Challan No:</div>
        <div *ngIf="lr.dc_no">{{ lr.dc_no }}</div>
        <div *ngIf="lr.boe_no">Bill of Entry No:</div>
        <div *ngIf="lr.boe_no">{{ lr.boe_no }}</div>  
      </div>
      <div></div>
    </mat-card-content>
  </mat-card>
</div>

<router-outlet></router-outlet>
